[submodule "External/blazor-dragdrop"]
	path = External/blazor-dragdrop
	url = https://github.com/Malbios/blazor-dragdrop.git
[submodule "External/FunSharp.Common"]
	path = External/FunSharp.Common
	url = https://github.com/Malbios/FunSharp.Common.git
[submodule "External/FunSharp.Data"]
	path = External/FunSharp.Data
	url = https://github.com/Malbios/FunSharp.Data.git
[submodule "External/FunSharp.Blazor.Components"]
	path = External/FunSharp.Blazor.Components
	url = https://github.com/Malbios/FunSharp.Blazor.Components.git
